<!DOCTYPE html>

<html>
    <head>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
          <link href="/static/css/myStyles.css" rel="stylesheet">          
    </head>
    <body>        
        <div class="container headerSpacing">
            <h1> Mission to Mars</h1>
            <a href="http://127.0.0.1:5000/scrape"><button type="button" class="btn btn-sm btn-primary">Scrap New Data</button></a>        
        </div>
        <div class="container">
            {% for m in marsInfo%}            
            <div><span class="marsNews fontSize140"><strong>Latest Mars News</strong></span></div>
            <strong class="marsNews">{{m.latest_news.news_title}}</strong>
            <br>
            <span class="marsNews fontSize80">{{m.latest_news.news_p}}</span>
            <br>
            <br>
            <div><span class="marsNews fontSize140"><strong>Featured Mars Image</strong></span></div>
            <div class="imageAndFactsSection">
                </h3>
                <img src={{m.featured_image.feature_image}}>
                <div>
                    <div class="imageSpacing">
                        <span class="fontSize90"><strong>Current Weather On Mars</strong></span>
                        <br>
                        <span class="fontSize90">{{m.latest_twitt.latest_twitt}}</span>
                    </div>
                    <br>
                    <div class="factTableSpacing">
                        <span class="fontSize90"><strong>Mars Facts</strong></span>
                        <table border = 1 style="font-size: 80%; font-weight: 600;">
                                <tr>
                                    <td> Equatorial Diameter: </td>
                                    <td> {{ m.mars_facts['Equatorial Diameter:']}} </td>
                                </tr>
                                <tr>
                                    <td> Polar Diameter: </td>
                                    <td> {{ m.mars_facts['Polar Diameter:']}} </td>
                                </tr>
                                <tr>
                                    <td> Mass: </td>
                                    <td> {{ m.mars_facts['Mass:']}} </td>
                                </tr>
                                <tr>
                                    <td> Moons: </td>
                                    <td> {{ m.mars_facts['Moons:']}} </td>
                                </tr>
                                <tr>
                                    <td> Orbit Distance: </td>
                                    <td> {{ m.mars_facts['Orbit Distance:']}} </td>
                                </tr>        
                                <tr>
                                    <td> Orbit Period: </td>
                                    <td> {{ m.mars_facts['Orbit Period:']}} </td>
                                </tr>
                                <tr>
                                    <td> Surface Temperature: </td>
                                    <td> {{ m.mars_facts['Surface Temperature: ']}} </td>
                                </tr>
                                <tr>
                                    <td> First Record: </td>
                                    <td> {{ m.mars_facts['First Record:']}} </td>
                                </tr>        
                        </table>
                    </div>
                </div>                    
            </div>
            <div>
                <hr style="background-color: seashell; text-align: center; padding-top: 0.5%;">
            </div>
            <br>
            <div style="text-align: center;">
                <span style="font-size: 150%;"><strong>Mars Hemispheres</strong></span>
            </div>
            <div>
                <hr style="background-color: seashell; text-align: center; padding-bottom: 0.5%;">
            </div>
            <div class="imageAndFactsSection" style="font-family: Arial, Helvetica, sans-serif;">
                <div style="border-style: groove; border-width: thin; margin-left: 8%;">
                    <div>
                        <img src={{m.hemisphere_images[0].img_url1}} width="450px" height="450px" style="padding-left: 0.3%; padding-right: 0.3%; padding-top: 0.3%; padding-bottom: 0.3%;">
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 120%; font-weight: 600; font-family: 'Pacifico', cursive">Cerberus Hemisphere Enhanced</span>
                    </div>
                </div>
                <div style="border-style: groove; border-width: thin; margin-right: 8%;">
                    <div>
                        <img src={{m.hemisphere_images[1].img_url1}} width="450px" height="450px" style="padding-left: 0.3%; padding-right: 0.3%; padding-top: 0.3%; padding-bottom: 0.3%;">
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 120%; font-weight: 600; font-family: 'Pacifico', cursive">Schiaparelli Hemisphere Enhanced</span>
                    </div>            
                </div>
            </div>
            <br>
            <div class="imageAndFactsSection">
                <div style="border-style: groove; border-width: thin; margin-left: 8%;">
                    <div>
                        <img src={{m.hemisphere_images[2].img_url1}} width="450px" height="450px" style="padding-left: 0.3%; padding-right: 0.3%; padding-top: 0.3%; padding-bottom: 0.3%;">
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 120%; font-weight: 600; font-family: 'Pacifico', cursive">Syrtis Major Hemisphere Enhanced</span>
                    </div>
                </div>
                <div style="border-style: groove; border-width: thin; margin-right: 8%;">
                    <div>
                        <img src={{m.hemisphere_images[3].img_url1}} width="450px" height="450px" style="padding-left: 0.3%; padding-right: 0.3%; padding-top: 0.3%; padding-bottom: 0.3%;">
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 120%; font-weight: 600; font-family: 'Pacifico', cursive">Valles Marineris Hemisphere Enhanced</span>
                    </div>            
                </div>
            </div>
            <div>
                <hr style="background-color: seashell; text-align: center; padding-top: 5%;">
            </div>
        </div>
        
        

        {% endfor %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>